<style>
    .center{
        margin: auto;
    width: 60%;
    padding: 10px;
    margin-top: 5px;
    }
    
    
    </style>
    <div class="center">
    
        <img
        width="120"
         src="https://gateway.pinata.cloud/ipfs/QmPJhsCwTubrJUDEFignLxVhAvezon2um2kCvQeL3844TZ">
        </div>
        
    <div class="center" >
        <h1><b> Bienvenido, construye tu identidad digital de forma segura!!. </b></h1>
    
    </div>
    
    <div class="mt-2" class="center">
    
        <div class="boxHeader">
        <div class="textosHeader">
    
            <a hidden mat-button routerLink="login" target="_blank">Iniciar sesión</a>  <a hidden mat-button routerLink="login" target="_blank">Registrarte</a>
    
           <a mat-button routerLink="login" color="accent">Iniciar sesión</a> o  <a mat-button routerLink="sign-up" color="accent">Registrarte</a>  
    
        </div>
    
    
    
    
   