mat-toolbar {
  justify-content: space-between;
  background: #B919B7;
    color: white;
}

img {
size: 100%;


}
.btn-login {
  border: none;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

